@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
/* css buat nav bar */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

header {
  padding: 0;
  margin: 0;
}
.nav_header {
  position: fixed;
  box-sizing: border-box;
  width: 100%;
  top: 0;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: #4F5563;
  background-color: #FAFCFF;
  box-shadow: 0 2px 8px hsla(220, 68%, 12%, 0.1);
  z-index: 100;
}
.nav {
  height: 70px;
  max-width: 1120px;
  margin-inline: 24px;
}
.nav_data {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav_header a {
  text-decoration: none;
}
.nav_menu ul {
  list-style: none;
}
.nav_logo {
  display: inline-flex;
  align-items: center;
  column-gap: 4px;
  font-style: italic;
  color: #f384a7;
  font-weight: 600;
  transition: color 0.3s;
}
.nav_logo img{
    width: 110px;
    height: 110px;
}
.nav_logo i {
  font-size: 20px;
}
.nav_logo:hover {
  color: #9A3AD9;
}
.nav_toggle {
  position: relative;
  width: 32px;
  height: 32px;
}
.nav_toggle-menu, .nav_toggle-close {
  position: absolute;
  display: grid;
  place-items: center;
  inset: 0;
  cursor: pointer;
  transition: opacity 0.1s, transform 0.4s;
  font-size: 20px;
  color: #000000;
}
.nav_toggle-close {
  opacity: 0;
}

.fa-cart-shopping:before, .fa-shopping-cart:before {
  content: "\f07a";
  color: #000;
}

@media screen and (max-width: 1118px) {
    .nav_menu {
      position: absolute;
      width: 100%;
      height: calc(100vh - 55px);
      overflow: auto;
      pointer-events: none;
      left: 0;
      padding-block: 24px 64px;
      opacity: 0;
      transition: top 0.4s, opacity 0.3s;
      background-color: #FAFCFF;
    }
    /* scrollbar sebelah kanan saat dropdown menu asya di pencet muncul scroll bar */
    .nav_menu::-webkit-scrollbar {
      width: 8px;
    }
    .nav_menu::-webkit-scrollbar-thumb {
      background-color: hsl(223, 10%, 65%);
    }
}
.nav_link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px;
    color: #000000;
    font-weight: 600;
    transition: background-color 0.3s;
}
.nav_link_afterLogin{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #000000;
    font-weight: bold;
    padding: 20px 10px;
    transition: background-color 0.3s;
}
.nav_link p{
  display: none;
}
.nav_link_afterLogin p{
  margin-left: 15px;
}
.nav_link:hover {
  background-color: #F2F6FD;
}
.show-menu {
  top: 56px;
  pointer-events: initial;
  opacity: 1;  
}
.show-icon .nav_toggle-menu {
  transform: rotate(90deg);
  opacity: 0;  
}
.show-icon .nav_toggle-close {
  opacity: 1;
  transform: rotate(90deg);
}
.dropdown_button {
  cursor: pointer;
}
.dropdown_arrow {
    font-size: 24px;
    font-weight: initial;
    transition: transform 0.4s;
}
.dropdown_content, .dropdown_group, .dropdown_list {
   display: grid;
}
.dropdown_container {
    background-color: #F2F6FD;
    height: 0;
    overflow: hidden;
    transition: height 0.4s;
}
.dropdown_content {
    row-gap: 20px;
}
.dropdown_group {
  row-gap: 8px;
  padding-left: 40px;
    
}
.dropdown_group:first-child {
  margin-top: 20px;
}
.dropdown_group:last-child {
  margin-bottom: 20px;
}
.dropdown_icon i {
  font-size: 20px;
  color: #f384a7;
}
.dropdown_title {
  font-size: 13px;
  font-weight: bold;
  color: #000000;
}
.dropdown_list {
  row-gap: 4px;
}
.dropdown_link {
  font-size: 12px;
  font-weight: 500;
  color: #4F5563;
  transition: color 0.3s;
}
.dropdown_link:hover {
  color: #57256A;
}
.dropdown_title a{
  color: #000;
}
.show-dropdown .dropdown_arrow {
  transform: rotate(180deg);
}

/*breakpoint*/
/*buat small devices */
@media screen and (max-width: 300px) {
  .dropdown_group {
    padding-left: 24px;
  }
}
/*buat large devices */
@media screen and (min-width: 1118px) {
  .nav {
    height: 90px;
    display: flex;
    justify-content: space-between;
  }
  .nav li {
    display: flex;
  }
  .nav_toggle {
    display: none;
  }
  .nav_list {
    display: flex;
    column-gap: 48px;
    height: 100%;
  }
  .nav_link {
    padding: 5px;
  }
  .nav_link:hover {
    background-color: initial;
  }
  .dropdown_button {
    column-gap: 4px;
    pointer-events: none;
  }
  .dropdown_container {
    height: 250px;
    position: absolute;
    left: 0;
    right: 0;
    top: 100px;
    background-color: #FAFCFF;
    box-shadow: 0 6px 8px hsla(220, 68%, 12%, 0.05);
    pointer-events: none;
    opacity: 0;
    transition: top 0.4s, opacity 0.3s;
  }
  .dropdown_content {
    justify-content: center;
    grid-template-columns: repeat(5, max-content);
    column-gap: 100px;
    max-width: 1120px;
    margin-inline: auto;
  }
  .dropdown_group {
    padding: 64px 0;
    align-content: baseline;
    row-gap: 20px;
  }
  .dropdown_group:first-child, .dropdown_group:last-child {
    margin: 0;
  }
  .dropdown_list {
    row-gap: 12px;
  }
  .dropdown_icon {
    width: 60px;
    height: 60px;
    background-color: #F2F6FD;
    border-radius: 50%;
    display: grid;
    place-items: center;
    margin-bottom: 16px;
  }
  .dropdown_icon i {
    font-size: 32px;
  }
  .dropdown_title {
    font-size: 16px;
  }
  .dropdown_link {
    font-size: 13px;
  }
  .dropdown_link:hover {
    color: #9A3AD9;
  }
  .dropdown_item {
    cursor: pointer;
  }
  .dropdown_item:hover .dropdown_arrow {
    transform: rotate(180deg);
  }
  .dropdown_item:hover > .dropdown_container {
    pointer-events: initial;
    cursor: initial;
    top: 80px;
    opacity: 1;
  }
  .dropdown_group {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 64px 0;
    row-gap: 20px;
  }
}
@media screen and (min-width: 1152px) {
  .container {
    margin-inline: auto;
  }
}

/* css buat footer*/
.footer_container{
  position: relative;
  width: 100%;
  height: auto;
  font-size: 12px;
  padding: 50px 200px;
  background-color: #fff;
  color: #000000;
  font-family: "Poppins", sans-serif;
}
.footer_container .container{
  display: grid;
  width: 100%;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  grid-gap: 20px;
}
.footer_container .container .sec h2{
  position: relative;
  font-weight: 600;
  margin-bottom: 15px;
  color: #000000;
}
.footer_container .container .sec p{
  columns: #000000;
}
.footer_container .container .sci{
  display: grid;
  margin-top: 20px;
  grid-template-columns: repeat(4,50px);
}
.footer_container .container .sci li{
  list-style: none;
}
.footer_container .container .sci li a{
  display: inline-block;
  width: 36px;
  height: 36px;
  background: #000000;
  display: grid;
  align-content: center;
  justify-content: center;
  text-decoration: none;
}
.footer_container .container .sci li a i{
  color: #ffffff;
  font-size: 20px;
}
.footer_container .container .quickLinks{
  position: relative;
}
.footer_container .container .quickLinks ul li{
  list-style: none;
}
.footer_container .container .quickLinks ul li a{
  color: #000000;
  text-decoration: none;
  margin-bottom: 15px;
  display: inline-block;
}
.footer_container .container .contact .info{
  position: relative;
}
.footer_container .container .contact .info li{
  display: grid;
  grid-template-columns: 30px 1fr;
  margin-bottom: 16px;
}
.footer_container .container .contact .info li span{
  color: #000000;
  font-size: 20px;
}
.footer_container .container .contact .info li a{
  color: #000000;
  text-decoration: none;
}
.copy-right{
  font-size: 12px;
  width: 100%;
  background: #fff;
  padding: 20px 100px 30px;
  text-align: center;
  color: #000000;
  border: 1px solid rgba(0,0,0,0.15);
} 
@media (max-width: 1100px){
  .footer_container {
    position: relative;
    width: 100%;
    height: auto;
    padding: 50px 20px;
  }
  .footer_container .container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
  }
  .footer_container .container .sci {
    display: flex;
    justify-content: left;
  }
  .footer_container .container .sci li {
    margin-right: 10px;
  }
  .footer_container .container .sci li a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
  }
  .copy-right {
    font-size: 14px;
    text-align: center;
  } 
}

.shop_quantity {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.quantity {
  background-color: red;
  color: #FFFFFF;
  font-size: 12px;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  display: inline-block;
  margin-left: 5px;
  margin-top: 10px;
}

@media screen and (max-width: 1118px){
  .quantity {
    margin-bottom: 10px;
    margin-right: 8px;
  }
}